page-tips {


   

    h1 {
        text-align: center;
    }
    .okvir{
        margin: 20px 15px;
    
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
    border-color: springgreen;
    }
}
