page-potrosnja {
    .ios, .md {
     
            .scroll-content {
                background-color: map-get($colors, light);
            }
     
            ion-card-header {
                font-weight: bold;
            }
            ion-card{
                border: 2px solid rgb(0,138,116);
                border-radius: 15px;
            }
     
        }

    .card{
        padding: 10px;
        border: solid 2px rgb(0,138,116);
    }
        
}
